# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Docs build
docs/__build

# virtualenv
.venv
venv/
ENV/

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# Versioning file
SIRVsuite/_version.py
